th, td, p, input {
  font:14px Verdana;
}
table, th, td 
{

  border: solid 1px rgb(0, 0, 0);
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
  margin-top: 50px;
}
th {
  font-weight:bold;
}